field
{
	background-color: #f0f0f0; 
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ddccbb;
	font: 11pt "Verdana"; 
	text-align: left; 
	margin: 0px 2px 0px 2px;
}
field.required
{
	background-color: #ffecd9; 
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ddccbb;
	font: 11pt "Verdana"; 
	text-align: left; 
	margin: 0px 2px 0px 2px;
}
field.empty
{
	background-color: #ffffff; 
	color: #444444;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
field.table_field
{
	background-color: #ffffff; 
	color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	margin: 0px 2px 0px 2px;
}
field.currency_field
{
	background-color: #ffffff; 
	text-align: right;
	color: #008000;
	border-width: 0px 0px 1px 0px;
	border-color: #ffffff #ffffff #ffffff #ffffff;
	margin: 0px 2px 0px 2px;
}
field.currency_field_bold
{
	text-align: right;
	color: #008000;
	font: bold 11pt Verdana; 
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
check
{
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
form
{
	background-color: #ffffff; 
}
form.main
{
	background-color: #ffffff;
}
form.table_form
{
	background-color: #ffffff; 
	border-style: inset; 
	border-width: 0px 0px 2px 0px;
	border-color: #004080 #004080 #004080 #004080;
}

label
{
	color: #444444 ;
	font: bold 11pt Verdana; 
}
label.feedback_label
{
	color: #666666
	font: 10pt Verdana; 
}
label.header
{
	color: #0050d5;
	vertical-align: middle; 
	font: bold 14pt Verdana; 
	margin: 0px 0px 0px 0px;
	background-color: #ffffff; 
}
label.banner
{
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: #666666;
	font: bold italic 20pt Verdana; 
	color: #444444;
	text-align: right;
	vertical-align: bottom;
	margin: 2px 12px 2px 2px;
	background-color: #ffffff;
}
label.field_label
{
	text-align: right;
}
label.bg_label
{
	background-color: #444444;
}
label.separator
{
	background-color: #444444;
	color: white;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #444444;
	text-align: center;
}
label.tool_bar_label
{
	background-color: #ffffff;	
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #444444;
}
label.frame_label
{
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ddccbb;
}
label.border_right
{
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #ddccbb;
}
label.table_label
{
	background-color: #ffffff; 
	color: #000000;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #cccccc;
	font: 11pt "Verdana"; 
}
label.tab_control
{
	color: #444444;
	background-color: #ffffff;	
	font: bold 11pt Verdana; 
	text-align: center;
}
label.button_label
{
	color: #ffffff;
	background-color: #444444;	
	font: bold 11pt Verdana; 
	text-align: center;
}
label.link_control
{
	color: #444444;
	background-color: #ffffff;	
	font: bold 14pt Verdana; 
	text-align: left;
}
label.record_scroller
{
	color: #444444;
	font: bold italic 11pt Verdana; 
	text-align: center;
}
label.error_msg
{
	font: bold 12pt Verdana; 
	color: #cc0000;
	text-align: center;
}
label.column_header
{
	font: bold 11pt Verdana; 
	background-color: #444444;
	color: #ffffff;
	text-align: left;
	margin: 0px 2px 0px 2px;
}
label.hyperlink
{
	text-align: center;
}
tabpanel
{
	border-style: solid;
	border-width: 0px 0px 0px 0px;	
}
tabpanel.border
{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #e0e0e0;
}
button
{
	margin: 0px 4px 0px 4px;
}