check
{
	border-style: empty;
	background-color: #FFFFFF;
}

field
{
	font: 11pt "Tahoma";
	text-align: left;
	border-style: solid;
	margin: 0px 4px 0px 4px;
	border-color: #7B9EBD;
	border-width: 1px 1px 1px 1px;
	background-color: #FFFFFF;
}

field.html_info
{
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}

field.radio
{
	border-width: 0px 0px 0px 0px;
}

field.locked
{
	background-color: #EEEEEE;
}

label
{
	color: #606050;
	font: 11pt "Tahoma";
	background-color: #FFFFFF;
	text-align: left;
	border-style: empty;
	border-width: 0px 0px 0px 0px;
}

label.bold
{
	font: bold 11pt "Tahoma";
}

label.orange
{
	font: bold 16pt "Tahoma";
	color: '#e37f1f';
}

label.large_text
{
	font: 13pt "Tahoma";
}

button
{
	font: 11pt "Tahoma";
}

form
{
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

form.split
{
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}

tabpanel
{
	background-color: #FFFFFF;
}