/* 
 * Default Styling for all Servoy objects
 */
form {
	color: black;
	background-color: #F3F5F8;
	border: 0px solid;
}

tr.noborder {
	border : 0
}

td.noborder {
	border  : 0
}

tabpanel {
	color: black;
	border: 0px solid;
	font-size: 12px;
}

label, button, field, combobox, check, radio, listbox, spinner {
	color: black;
	font-family: Arial;
	font-size: 10px;
	text-align: left;
	vertical-align: middle;
}

field, combobox {
	background-color: #FFF;
	color: #000;
	border: 2px ridge #FFF;
	margin-left: 3px;
	margin-right: 3px;
}

field.required,combobox.required {
	color: black;
	font-family: Arial;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	border-color: yellow;
	background-color : yellow;
}

check {}

radio {}

listbox {
	color: black;
	font-size: 10px;
}

spinner {}

label {
	color: black;
}

label.fieldlabel {
	text-align: right;
	font-size: 12px;
}

label.title {
	font-size: 12px;
}

button {}

portal {}

/* Example of odd/even/selected row styling in grids (Portals and TableViews)*/
odd, even, selected {
	background-color: #FFF;
	color: #5C5C5D;
}

odd {
	background-color: #F5F7F9;
}

even {}

selected {
	background-color: #d4d4d4;
	color: black;
}

/* 
 * Example of additional grid styling (Portals and TableViews)
 * The grid style class needs to be set on form; grid_header selector works if there are no 'label for' labels defined to style the header.
 */
form.grid odd,
form.grid even,
form.grid selected,
form.grid grid_header {
	border: 0px solid #C9CACA;
	border-right-width: 1px;
	margin-left: 5px;
	margin-right: 3px;
}

/*
 *	The grid header can also be styled using 'label for' label. In order for this example to work you need to set the label style class to gridheader.
 */
label.gridheader {
	text-align: left;
	color: #5C5C5D;
}

tabpanel.grid { /*Style for a TabPanel that contains just a TableView*/
	border: 1px solid #C9CACA;
}

/*
 * Example style for the main form of a solution
 */
form.main {
	background-color: #667281	
}

/* 
 * Example of how to define custom styling for a form with a specific StyleClass
 * These styles are applied to form and its element on forms on which the StyleClass is set to "detail"
 */
form.detail {
}

form.detail field.pk { /*Style for Fields having a StyleClass "pk" on a form having StyleClass ""detail*/
	background-color: #5B6B7B;
	color: #FFF;
	border: 0px solid #FFF;
	border-left-width: 1px; /*This makes the field appear the same width when left aligned with a field that has a 2px ridge border*/
}

tabpanel.detail { /*StyleClass for a tabpanel in which a detail form is displayed*/
	border: 3px solid #FFF;	
}
label.dialogs_message { font: 12pt Arial, 'Lucida Grande', Helvetica, sans-serif; }
label.dialogs_icon_generic { background-image: url('media:///dialogs_icon_generic.png'); }
label.dialogs_icon_info { background-image: url('media:///dialogs_icon_info.png'); }
label.dialogs_icon_warning { background-image: url('media:///dialogs_icon_warning.png'); }
label.dialogs_icon_error { background-image: url('media:///dialogs_icon_error0.png'); }