label.dialogs_message
{
	font: 12pt 'Lucida Grande', Arial, Helvetica, sans-serif;
}

label.dialogs_icon_generic { 
	background-image: url("media:///dialogs_icon_generic.png");
	background-repeat: no-repeat;
	background-size: 60px }
label.dialogs_icon_info { 
	background-image: url("media:///dialogs_icon_info.png");
	background-repeat: no-repeat;
	background-size: 60px }
label.dialogs_icon_warning { 
	background-image: url("media:///dialogs_icon_warning.png");
	background-repeat: no-repeat;
	background-size: 60px }
label.dialogs_icon_error {
	background-image: url("media:///dialogs_icon_error.png");
	background-repeat: no-repeat;
	background-size: 60px }
