field
{
	background-color:#FFFFFF; 
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #999999 #ffffff #ffffff #999999;
	font-family: Tahoma, sans-serif;
	font-size: 9px;
	color: #000000;
	text-align: left; 
	margin: 0px 0px 0px 2px; 
	vertical-align: top; 
	font-weight: normal;
}

form.border
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;

}
form.white
{
	border-style: solid;
	border-width: 0px;
	background-color: #ffffff;


}

tabpanel.border
{
	border-style: solid;
	border-color: #336699;
	border-width: 1px 1px 1px 1px;
}

field.table
{
	border-color: #AAAAAA;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

check
{
	font-size: 9px;	
	text-align: center; 
	background-color:#FFFFFF; 
	border-style: solid;
	font-family: Tahoma, sans-serif;
	color: #000000;
	margin: 0px 0px 0px 2px; 
	vertical-align: top; 
	font-weight: normal;
}

check.table
{
	border-color: #AAAAAA;
	border-width: 0px 0px 1px 0px;
}

combobox.table
{
	font-size: 10px;
	border-color: #AAAAAA;
	text-align: left; 
	background-color:#FFFFFF; 
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	font-family: Tahoma, sans-serif;
	color: #000000;
	margin: 0px 0px 0px 2px; 
	vertical-align: top; 
	font-weight: normal;
}
check.noborder
{
	border-width: 0px 0px 0px 0px;
	font-size: 10px;
	color: #4D4D4D;
	vertical-align: text-bottom;
    text-align: left;
    background: transparent;
}
field.bold
{
	font-weight: bold;
}

field.noborder
{
	border-width: 0px 0px 0px 0px;
	color: #4D4D4D;
	vertical-align: text-bottom;
    text-align: left;
    background: transparent;
}
field.table
{
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #869298;
	margin: 0px 0px 0px 2px; 
}

button
{

	TEXT-ALIGN: center;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 9px;
	color: #000000;
}


label.transparent 
{
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	background-color: transparent; 
	text-align: center;
	vertical-align: middle;
}
label.table
{
	color: #FFFFFF;
	background-color: #2B364A;
	font:  9px "Verdana"; 
	border-style: solid; 
	border-color: #2B364A #7A8290 #2B364A #2B364A; 
	border-width: 2px 1px 2px 3px;
}
label.field_table
{
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #869298;
	margin: 0px;
}
label.field_title
{
	font-weight: bold;
	color: #333333;
}
tabpanel
{

	border-style: solid;
	border-width: 0px;
	border-color: #999999;
}
form
{
	background-color: #D4D0C8; 
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
form.light
{
	background-color: #DDDDDD; 
	border-style: solid;
	border-width: 0px 0px 0px 0px;

}
form.table
{
	background-color: #FFFFFF; 
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px 1px 1px 1px;
}
label
{
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 8px;
	color: #333333;
}
label.tab
{

}
label.tab_selected
{
	color: #ffffff;
	font-weight: bold;
}
label.field_group
{
	color: #ffffff;
	font-weight: bold;
	background-color: #336699;
	border-color: #336699;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	
}
label.black
{
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 9px;
	color: #000000;
	background: transparent;
}
label.bold
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
}
label.programdtlbar
{
	background-color: #336699;
}
label.help_title
{
	font-weight: bold;
	font-size: 11px;
}
label.help_text
{

	text-align: left;
	vertical-align: top;
}
form.help
{
	background-color: #F4F2F2; 
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
form selected {
 background-color: #3D80DF;
}
form odd {
 background-color: #f0f0f0;
}

form even {
 background-color: #FFFFFF;
}